.listcompany {
    margin-top: 40px;
    font-size: 20px;
    text-align: center;

    &__company {

        font-size: 18x;
        font-weight: 500;
    }
    &__card {
        border: 1px solid #e0e0e0;  
        border-radius: 8px;
        padding: 16px;
        background-color: #fff;  
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:hover {
            transform: translateY(-5px);  
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
        }
}
}